Precompile/
[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
*.user
*.suo
*.log
*.vsp
*.vsmdi
*.psess
_Resharper.*
*.resharper
[Tt]humbs.db
ClothesHorse.CSVLoader/bin/*
ClothesHorse.CSVLoader/obj/*
ClothesHorse.Core/bin/*
ClothesHorse.Core/obj/*
ClothesHorse/bin/*
ClothesHorse/obj/*
ClothesHorse/Bin/*
ClothesHorse/web.config
Precompile/*
ClothesHorse.MailFetch/bin/*
ClothesHorse.MailFetch/obj/*
Clotheshorse.suo
Foursquare/bin/*
Foursquare/obj/*
ClothesHorse.Test/bin/*
ClothesHorse.Test/obj/*
ClothesHorse.BulkAlgorithmReader/bin/*
ClothesHorse.BulkAlgorithmReader/obj/*
ClothesHorse.Telescope/bin/*
ClothesHorse.Telescope/obj/*
Destrier/bin/*
Destrier/obj/*
ClothesHorse.CommitHook/bin/*
ClothesHorse.CommitHook/obj/*
deployweb*.log
precompile.log

#this is a status file we use to configure a machine the first time the build env gets run
clotheshorse_setup.log

# mac os x index files
*.DS_Store
/ClothesHorse/*.user